{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<div class="container">
    <h3 style="font-size: 2em;" class="page-section-heading text-center text-uppercase text-secondary mt-5 mb-0">Delete account</h3>
    <form method="post" action="">
        {% csrf_token %}
        <div class="control-group mt-4 mb-3">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">


                <input class="form-control" id="username" type="text" name="username"
                       placeholder="Verify your username" required="required"
                       data-validation-required-message="Please enter your name."/>

            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <strong style="color: #F73F3F;">*{{ message|escape }}</strong>
            {% endfor %}
        {% endif %}

        <div class="form-group mt-2">
            <button class="btn btn-danger btn-xl" style="font-size: 1.2em;"
                    type="submit"><strong>Delete</strong>
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}{% endblock %}