{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile_user.username }}{% endblock %}
<!---->
{% block content %}
<header class="masthead bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 flex-column text-center">
                <!-- Masthead Avatar Image-->


                {% if about_user.avatar %}
                    <div class="masthead-avatar mb-4" id="profile_avatar" style="background-image: url({{ about_user.avatar.url }})"></div>
                {% else %}
                    <img class="masthead-avatar mb-4" src="{% static 'assets/img/avataaars.svg' %}" alt=""/>
                {% endif %}


                <!-- Masthead Heading-->
                {% if profile_user.username == user.username %}

                    <h2 class="masthead-heading text-uppercase mb-0">{{ profile_user.username }}<a class="btn btn-primary mb-2 mx-2" href="{% url 'profile-settings' %}"><i class="fas fa-cog fa-lg" style="margin-top: 2px;"></i></a></h2>
                {% else %}
                    <h2 class="masthead-heading text-uppercase mb-0">{{ profile_user.username }}</h2>
                {% endif %}
                {% if about_user.working_place %}
                <p class="masthead-subheading font-weight-light mb-0">{{ about_user.working_place }}</p>
                {% endif %}
                <hr style="background:#fff;" class="d-lg-none"/>
            </div>
            <div class="col-lg-8">

                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto mb-3 text-center">
                        <h3 class="lead text-uppercase font-weight-bold">Skills:</h3>
                        {% if about_user %}
                            {% if about_user.programming_languages.all %}
                                {% for language in about_user.programming_languages.all %}
                                    {% if language.title != 'C#' %}
                                        <a class="btn btn-outline-light rounded mt-1 language-{{ language|lower }}">{{ language }}</a>
                                    {% else %}
                                        <a class="btn btn-outline-light rounded mt-1 language-c-sharp">C#</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="lead" style="color: #B9B9B9">Nothing here yet.</p>
                            {% endif %}
                        {% else %}
                            <p class="lead" style="color: #B9B9B9">Nothing here yet.</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        {% if about_user.about or about_user.github or about_user.linkedin %}
                            <h3 class="lead text-uppercase font-weight-bold">About Me:</h3>
                        {% endif %}
                        <p class="lead">{{ about_user.about }}</p>
                        {% if about_user.github %}
                           <a class="btn btn-outline-light rounded" href="{{ about_user.github }}"><i
                                class="fab fa-github fa-lg"></i></a>
                        {% endif %}
                        {% if about_user.linkedin %}
                        <a class="btn btn-outline-light rounded mx-1" href="{{ about_user.linkedin }}"><i
                                class="fab fa-linkedin-in fa-lg"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% if object_list %}
<section class="page-section portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        {% if profile_user == user %}
            <h4 class="page-section-heading text-center text-uppercase text-secondary mb-4">My Projects<a class="btn btn-primary mb-2 mx-2" href="{% url 'create-project' %}"><i class="fas fa-plus fa-lg" style="margin-top: 2px;"></i></a></h4>
        {% else %}
            <h4 class="page-section-heading text-center text-uppercase text-secondary mb-4">Projects</h4>
        {% endif %}
        <hr>
        <div class="row justify-content-center">
            {% for project in object_list %}
            <div class="col-md-6 col-lg-3 mb-5 mb-md-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ project.pk }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-box-open fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt=""/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% for project in object_list.all %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ project.pk }}" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal{{ project.pk }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-2"
                                id="portfolioModal{{ project.pk }}Label"><span style="color: #B9B9B9;">#{{ project.pk }}</span> {{ project.title }}</h2>
                            {% if project.open %}
                                <strong class="text-uppercase" style="color: #00D500;">Open</strong>
                            {% else %}
                                <strong class="text-uppercase" style="color: #D10A0A;">Closed</strong>
                            {% endif %}

                            <hr class="mb-3">
                            <div class="row">

                                <div class="col">
                                    <h4 class="text-uppercase">What are we using</h4>
                                    {% for skill in project.programming_languages_are_using.all %}
                                    {% if skill.title != 'C#' %}
                                    <a class="btn btn-outline-light rounded mt-1 language-{{ skill|lower }}">{{ skill }}</a>
                                    {% else %}
                                    <a class="btn btn-outline-light rounded mt-1 language-c-sharp">C#</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="col">
                                    <h4 class="text-uppercase">We are looking for</h4>
                                    <p>
                                        {% if project.searching_for_working_place.all|length == 1 %}
                                        {{ project.searching_for_working_place.all.0 }}
                                        {% else %}
                                        {% for work in project.searching_for_working_place.all %}
                                        {% if work == project.searching_for_working_place.all.last %}
                                        {{ work.title }}
                                        {% else %}
                                        {{ work.title }},
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </p>
                                </div>

                            </div>
                            <!--                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/safe.png" alt=""/>-->
                            <!-- Portfolio Modal - Text-->
                            <h4 class="text-uppercase mt-4">About project</h4>

                            <p class="mb-4 mt-2">{{ project.description }}</p>

                            <div class="row">
                                <div class="col">
                                    <strong class="mb-1 text-uppercase">Owner: <a href="{% url 'profile' username=project.project_owner %}">{{ project.project_owner }}</a></strong>
                                </div>
                                <div class="col">
                                    {% if project.users.all|length == 1 %}
                                    <p><span class="text-uppercase font-weight-bold">Current team (1/{{ project.max_members }})</span>: <a href="{% url 'profile' username=project.project_owner  %}">{{ project.project_owner }}</a></p>
                                    {% else %}
                                    <p><span class="text-uppercase font-weight-bold">Current team ({{ project.users.all|length }}/{{ project.max_members }})</span>:
                                        {% for t_user in project.users.all %}
                                        {% if t_user == project.users.all.last %}
                                        <a href="{% url 'profile' username=t_user  %}">{{ t_user }}</a>
                                        {% else %}
                                        <a href="{% url 'profile' username=t_user  %}">{{ t_user }}</a>,
                                        {% endif %}
                                        {% endfor %}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="text-uppercase font-weight-bold">Created: {{ project.created_at|date:"SHORT_DATE_FORMAT" }} {{ project.created_at|time:"H:i" }}</p>


                            <button class="btn btn-primary mt-2" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
    <section class="page-section portfolio">
        <div class="container text-uppercase text-center">
            <!-- Portfolio Section Heading-->
            {% if profile_user == user %}
                <h4 class="page-section-heading text-center text-uppercase text-secondary mb-4">My Projects<a class="btn btn-primary mb-2 mx-2" href="{% url 'create-project' %}"><i class="fas fa-plus fa-lg" style="margin-top: 2px;"></i></a></h4>
            {% else %}
                <h4 class="page-section-heading text-center text-secondary mb-4">Projects</h4>
            {% endif %}
            <hr>
            <h5 style="color: #B9B9B9;">No projects yet</h5>
        </div>
    </section>
{% endif %}

{% endblock %}
