{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Profile Settings{% endblock %}

{% block content %}

<section class="page-section" style="font-size: 1em;">
    <div class="container">
        <h3 style="font-size: 2em;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Update
            your account</h3>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="{{ form.working_place.id_for_label }}">Working place</label>
                            <h4 style="color: #6C757D;">Your working place</h4>{{ form.working_place|add_class:"form-control"}}
                            {% if form.working_place.errors %}
                            {% for error in form.working_place.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Choose a file.</label>
                            <h4 style="color: #6C757D;">Choose an avatar</h4>{{ form.avatar|add_class:"form-control" }}
                            {% if form.avatar.errors %}
                            {% for error in form.avatar.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>About</label>
                            <h4 style="color: #6C757D;">About</h4>{{ form.about|add_class:"form-control" }}
                            {% if form.about.errors %}
                            {% for error in form.about.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Skills</label>
                            <h4 style="color: #6C757D;">Skills</h4>{{ form.programming_languages|add_class:"form-control" }}
                            {% if form.programming_languages.errors %}
                            {% for error in form.programming_languages.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>GitHub</label>
                            <h4 style="color: #6C757D;">GitHub</h4>{{ form.github|add_class:"form-control" }}
                            {% if form.github.errors %}
                            {% for error in form.github.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>LinkedIn</label>
                            <h4 style="color: #6C757D;">LinkedIn</h4>{{ form.linkedin|add_class:"form-control" }}
                            {% if form.linkedin.errors %}
                            {% for error in form.linkedin.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl" style="font-size: 1.2em;"
                                type="submit">Update profile
                        </button>
                        <a class="btn btn-danger btn-xl mx-2" href="{% url 'settings-delete-profile' %}" style="font-size: 1.2em;"
                                type="submit">Delete account
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}{% endblock %}

