{% extends 'base_auth.html' %}
{% load static %}


{% block title %}Sign In{% endblock %}

{% block content %}

<section class="page-section" id="contact">
    <div class="container">
       <h3 style="font-size: 2em;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome</h3>
            <div class="card-body text-secondary">

                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate" method="post">
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Username</label>
                                    <input class="form-control" id="username" type="text" name="username"
                                           placeholder="username" required="required"
                                           data-validation-required-message="Please enter your name."/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Password</label>
                                    <input class="form-control" id="password" type="password" name="password"
                                           placeholder="password" required="required"
                                           data-validation-required-message="Please enter your password."/>
                                </div>
                            </div>

                            <br/>
                            {% if messages %}
                                {% for message in messages %}
                                    <strong style="color: #F73F3F;">*{{ message|escape }}</strong>
                                {% endfor %}
                            {% endif %}

                            <div class="form-group mt-2">
                                <button class="btn btn-primary btn-xl" id="sendMessageButton" style="font-size: 1.2em;"
                                        type="submit">Sign In
                                </button>
                                <a class="ml-3" style="color: #293744; font-size: 1.1rem" href="{% url 'sign-up' %}">or
                                    Sign Up</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock %}
