{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Edit Project{% endblock %}


{% block content %}

<section class="page-section" style="font-size: 1em;">
    <div class="container">
        <h3 style="font-size: 2em;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Edit Your Project</h3>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Working place</label>
                            {{ form.title|add_class:"form-control" }}
                            {% if form.title.errors %}
                            {% for error in form.title.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Description</label>
                            {{ form.description|add_class:"form-control" }}
                            {% if form.description.errors %}
                            {% for error in form.description.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Skills</label>
                            <h4 style="color: #6C757D;">Skills are using on project:</h4>
                            {{ form.programming_languages_are_using|add_class:"form-control" }}
                            {% if form.programming_languages_are_using.errors %}
                            {% for error in form.programming_languages_are_using.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Working Place</label>
                            <h4 style="color: #6C757D;">Who do you need:</h4>
                            {{ form.searching_for_working_place|add_class:"form-control" }}
                            {% if form.searching_for_working_place.errors %}
                            {% for error in form.searching_for_working_place.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Open</label>
                            <h4 style="color: #6C757D;">Open</h4>{{ form.open }}
                            {% if form.open.errors %}
                            {% for error in form.open.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Members</label>
                            {{ form.max_members|add_class:"form-control" }}
                            {% if form.max_members.errors %}
                            {% for error in form.max_members.errors %}
                            <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                            <br/>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl" style="font-size: 1.2em;"
                                type="submit">Edit Project
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}



{% block js %}
    <script>
        var form_input = document.getElementsByTagName('input');
        var form_textarea = document.getElementById('id_description');
        document.getElementById("id_max_members").placeholder = "Members";
        form_input[1].placeholder='Title';
        form_textarea.placeholder='Description';

    </script>
{% endblock %}
