<!-- Footer-->
<footer class="footer text-center p-5">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg mb-5 mb-lg-0">
                <h2 class="text-uppercase mb-3">Cyberbox</h2>
                <p class="lead">
                    <a href="{% url 'home' %}" class="text-uppercase footer-link">Home</a></p>
                <p class="lead">
                    <a href="{% url 'projects' %}" class="text-uppercase footer-link">Projects</a>
                </p>
                <p class="lead">
                    <a href="#" class="text-uppercase footer-link">News</a>
                </p>
            </div>
            <div class="col-lg">
                <h2 class="text-uppercase mb-3">About Cyberbox</h2>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea repellat temporibus voluptas voluptatem
                    voluptatibus? Commodi consequatur, consequuntur debitis eligendi est, illo.
                </p>
            </div>
        </div>
    </div>
</footer>