
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg mb-5 mb-lg-0">
                <h2 class="text-uppercase mb-3">Cyberbox</h2>
                <p class="lead mb-0">
                    <a href="{% url 'home' %}" class="text-uppercase footer-link">Home</a>
                    <br/>
                    <a href="#" class="text-uppercase footer-link">Projects</a>
                    <br/>
                    <a href="#" class="text-uppercase footer-link">News</a>
                </p>
            </div>
            <div class="col-lg">
                <h4 class="text-uppercase mb-4">About Cyberbox</h4>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea repellat temporibus voluptas voluptatem voluptatibus? Commodi consequatur, consequuntur debitis eligendi est, illo.
                </p>
                <a class="btn btn-outline-primary mt-1" href="#">Read More</a>
            </div>
        </div>
    </div>
</footer>