{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Cyberbox</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-lg"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">News</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mt-1 mx-lg-1"><a class="btn btn-outline-primary" style="margin-top: 2px;" href="{% url 'profile' user.username %}">{{ user.username }} <i class="fas fa-user"></i></a></li>
                    <li class="nav-item mx-0 mt-1 mx-lg-1"><a class="btn btn-outline-primary" style="margin-top: 2px;" href="{% url 'profile' user.username %}"><i class="fas fa-bell"></i></a></li>
                    <li class="nav-item mx-0 mt-1 mx-lg-1"><a class="btn btn-outline-primary" style="margin-top: 2px;" href="{% url 'sign-out' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                {% else %}
                    <li class="nav-item mx-0 mt-1 mx-lg-1"><a class="btn btn-outline-primary" style="margin-top: 2px;" href="{% url 'sign-in' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
